 <div class="left-side-bar">
        <div class="status-ico">
            <span>★</span>
          <span>즐겨찾는 레시피</span>
        </div>
        
        <ul>
            <% for(const receipe of favoriteReceipes) { %>
                <li>
                    <a href="recipe_view?receipe_id=<%= receipe._id %>"><img src="<%= receipe.ATT_FILE_NO_MK %>" /><br/><%= receipe.RCP_NM %></a>               
               </li>
            <% } %>
       </ul>
       
    </div>


    <!--CSS-->

    <style>
		body,
		ul,
		li {
		padding: 0;
		margin: 0;
		list-style: none;
		}

		a {
		color: inherit;
		text-decoration: none;
		}

		.left-side-bar > ul ul {
		display: none;
		position: absolute;
		top: 0;
		left: 100%;


		}



		.left-side-bar {
		background-color: gray;
		opacity:0.8;
		margin-top: 4.6rem;
		height: 100%;
		width: 12rem;
		position: fixed;
		left: -155px;
		transition: left .3s;
		overflow: auto
		}

		.left-side-bar > .status-ico {
		text-align: right;
		padding: 10px;
		}

		.left-side-bar > ul li {
		position: relative;
		display: none;
		}
		.left-side-bar:hover > ul li {
		position: relative;
		display: block;
		}

		.left-side-bar ul {
		font-weight: bold;
		text-align: center;
		padding: 0;
		}

		.left-side-bar ul > li > a {
		display: block;
		padding: 10px;
		white-space: nowrap;
		}

		.left-side-bar:hover {
		left: 0;
		opacity:1;
		background-color: #fff;
		}

		.left-side-bar ul > li:hover ul {
		display: block;
		}

		.left-side-bar ul > li:hover > a {
		color: black;
		background-color: lightgray;
		}

		.left-side-bar > .status-ico > span:last-child {
		display: none;
		}

		.left-side-bar:hover > .status-ico > span:last-child {
		display: block;
		}

		.left-side-bar:hover > .status-ico > span:first-child {
		display: none;
		}

	</style>
