<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Health Food For U</title>

        <%- include("partials/head") %>
        <link href="css/style2.css" rel="stylesheet" /> 

    </head>
    <body id="page-top">
        <%- include("partials/navigation") %>
        
        
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold"><strong>질환을 선택해주세요</h1></strong>
                        
                        <hr class="divider" />
                	</div>
                    
	                <div>
	                    
	                                          
	            		<input type="text" name="query" value="">
	           			<button type="submit">검색</button>    
	                </div> 
	                
	                <div class="h-icon">
	                	<div class="icon-p">
                            <a href="#services"><img src="assets/img/대사.png" width="100px" hight="100px"> </a>
                            <h3 class="h-font">내분비/대사질환</h3>         
                            
                            
                        </div>                       
                    
                    
                    	<div class="icon-p">                
                            <a href="#services"><img src="assets/img/부인과.png" width="100px" hight="100px"> </a>
                            <h3 class="h-font">부인과질환</h3>
                        </div>
                        
                        <div class="icon-p">                 
                            <a href="#services"><img src="assets/img/소화.png" width="100px" hight="100px"> </a>
                            <h3 class="h-font">소화계통질환</h3>
                        </div>
                    
                    
                    
                    	<div class="icon-p">
                            <a href="#services"><img src="assets/img/비뇨.png" width="100px" hight="100px"> </a>
                            <h3 class="h-font">신장/비뇨기질환</h3>
                        </div>
                    
                    
                   		<div class="icon-p">                       
                            <a href="#services"><img src="assets/img/순환.png" width="100px" hight="100px"> </a>
                            <h3 class="h-font">혈액/순환계통질환</h3>                                       
                   		</div>
                    
                        <div class="icon-p">
                            <a href="#services"><img src="assets/img/호흡.png" width="100px" hight="100px"> </a>
                            <h3 class="h-font">호흡기질환</h3>
                        </div>                    
                    

	                </div>
	              </div>
	                          
                </div>
            
        </header>
    <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">카테고리</h2>
                
               

            </div>
        </section>

    </body>
</html>
