<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= receipeName %></h1>
    <% for(var i=1; i<19; i++){ %>
        <% receipe.find(function(element){ %>
           <% if(element[0] == ("MANUAL"+String(i).padStart(2, '0')) && element[1] != "" ){ %>
                <%= element[1] %>
            <% } %>
        <% }) %>
        </br>
        <% receipe.find(function(element){ %>
            <% if(element[0] == ("MANUAL_IMG"+String(i).padStart(2, '0')) && element[1] != ""){ %>
                 <img src="<%= element[1] %>">
             <% } %>
         <% }) %>
        </br>
    <% } %>
</body>
</html>