<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/head_rec") %>
    <!-- Navigation-->
            <%- include("partials/navigation") %>

 <title>Health Food For U</title>
       
    </head>

    <body id="recipe_list">

     <%- include("partials/like-list") %>


</html>

    <div class="all">  
        <br/>
        <div class="list-header">선택한 질병</div>
        <!--header class="masthead"-->
            <div class="header_con">
              
            <!-- 즐겨찾는 레시피 목록
               <div class="like">        
                <fieldset>
                     <legend><br/><h2><strong>홍길동님이 즐겨찾는 레시피입니다.</h2></strong> </legend>
                      <hr class="divider" />
                      <div class="layout">
                      <article>
                           <div class="flexbox">    
                                    <div class="item"><a href="recipe_view"><img src="assets/img/ex1.jpg" /><br/>호박죽</a></div>
                                    <div class="item"><a href="recipe_view"><img src="assets/img/ex2.jpg"/><br/>콩나물 국밥</a></div>    
                                    <div class="item"><a href="recipe_view"><img src="assets/img/ex3.jpg"/><br/>배중탕</a></div>
                            <div>
                            </article>
                        </div>
                    </fieldset>
                </div>-->
             
             <!-- 주의음식-->
              
               <div class="caution">   
                
                    <h2><strong> 주의해야할 음식</h2></strong>
                     <hr class="divider" />
                    
                    <div class="caution_list">
                    코코아, 아몬드, 땅콩, 호두, 잣, 대두, 보리, 현미, 통밀, 우유, 계란, 시금치, 무청, 근대, 컬리플라워, 브로컬리, 부추,당근
                    </div>
                    
                </div>
            </div>

        <!--/header-->

           <!-- 검색창-->
           <hr/>
        <div class="search">	                                     
	            		<input type="text" name="query" value="" style="width:50%">
	           			<button type="submit">검색</button>    
	                </div>
       <p/>

       <!-- 레시피 결과-->
        <div class="result">
            <h5 style="text-align:left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총 03개의 레시피가 있습니다.</h5>
           <div class="layout">
                      <article>
                           <div class="flexbox">
                                    <div class="item"><a href="recipe_view"><img src="assets/img/ex1.jpg" /><br/>호박죽</a></div>
                                    <div class="item"><a href="recipe_view"><img src="assets/img/ex2.jpg"/><br/>콩나물 국밥</a></div>    
                                    <div class="item"><a href="recipe_view"><img src="assets/img/ex3.jpg"/><br/>배중탕</a></div>
                                     <div>
                            </article>
                        </div>
                      
                        </div>
            </div>
            </div>
            
        </body>

    </html>