<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Health Food For U</title>
        <%- include("partials/head_rec") %>
    </head>

    <body id="recipe_view">
         <!-- Navigation-->
            <%- include("partials/navigation") %>
       <div>

           <div class="all">  

            <div class="recipe">
                <div class="title">
                        <img src="assets/img/ex1.jpg">
	                    <h1>호박죽</h1>
                    </div>

                    <div class="cook">
                        <h3>[재료]</h3>
	                    <p>단호박 1통  찬밥 1/2공기  물 2컵 설탕 2T 소금 1/2T 꿀 또는 설탕 </p>
                        <h3>[조리 순서]</h3>
                        <div class="cooking">
                        <span class="num">1</span> 단호박을 전자렌지에 6분정도 돌려준 후 꺼내서 적당히 잘라 껍질을 벗겨준다.<br>
                        <span class="num">2</span> 자른 단호박을 믹서기에 넣어준다.<br>
                        <span class="num">3</span> 물 2컵을 함께 넣어주고 믹서기로갈아준다.<br>
                        <span class="num">4</span> 어느정도 갈렸을때 밥 1공기를 넣어주고, 물 2컵을 넣어준 후 다시 곱게 갈아준다.<br>
                        <span class="num">5</span> 곱게 갈린 것을 궁중팬에 옮겨준 후 약한 불에서  잘 저어주면서 끓여준다.<br>
                       <span class="num">6</span>  보글보글 끓을 때 마지막으로 설탕(꿀) 약 2큰술, 소금 1/3큰술을 넣어 당도와 간을 맞춰준다.<br>
                       </div>
                    </div>
             </div>           
         
             <div class="layout">
                          <article>
                           <div class="card-header">이 레시피는 어때요?</div>
                               <div class="flexbox">
                                        <div class="item"><a href="recipe_view"><img src="assets/img/ex1.jpg" /><br/>호박죽</a></div>
                                        <div class="item"><a href="recipe_view"><img src="assets/img/ex2.jpg"/><br/>콩나물 국밥</a></div>    
                                        <div class="item"><a href="recipe_view"><img src="assets/img/ex3.jpg"/><br/>배중탕</a></div>
                                <div>
                             </article>
                 </div>

              </div>
          <div>
</body> 
</html>